[submodule "pack/main/start/vim-surround"]
	path = pack/main/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/main/start/vim-repeat"]
	path = pack/main/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/main/start/vim-fugitive"]
	path = pack/main/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/main/start/vim-commentary"]
	path = pack/main/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/main/start/CommandlineComplete.vim"]
	path = pack/main/start/CommandlineComplete.vim
	url = https://github.com/j5shi/CommandlineComplete.vim
[submodule "pack/main/opt/vim-backslash"]
	path = pack/main/opt/vim-backslash
	url = https://github.com/lambdalisue/vim-backslash
[submodule "pack/main/start/vim-vinegar"]
	path = pack/main/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "pack/main/start/vim-devicons"]
	path = pack/main/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/main/start/vimspector"]
	path = pack/main/start/vimspector
	url = https://github.com/puremourning/vimspector
[submodule "pack/main/start/vim-qf-preview"]
	path = pack/main/start/vim-qf-preview
	url = https://github.com/bfrg/vim-qf-preview
[submodule "pack/main/start/vim-floaterm"]
	path = pack/main/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule "pack/main/start/editorconfig-vim"]
	path = pack/main/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "pack/main/start/conflict-marker.vim"]
	path = pack/main/start/conflict-marker.vim
	url = https://github.com/rhysd/conflict-marker.vim
[submodule "pack/main/start/indentLine"]
	path = pack/main/start/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "pack/main/start/vim-hexokinase"]
	path = pack/main/start/vim-hexokinase
	url = https://github.com/RRethy/vim-hexokinase
[submodule "pack/main/start/coc.nvim"]
	path = pack/main/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/main/start/vim-tmux-navigator"]
	path = pack/main/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "pack/main/opt/warlock"]
	path = pack/main/opt/warlock
	url = https://github.com/hardselius/warlock
[submodule "pack/main/start/traces.vim"]
	path = pack/main/start/traces.vim
	url = https://github.com/markonm/traces.vim
[submodule "pack/main/start/vim-eunuch"]
	path = pack/main/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
