[submodule "pack/main/start/vim-eunuch"]
	path = pack/main/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "pack/main/start/vim-surround"]
	path = pack/main/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/main/start/vim-repeat"]
	path = pack/main/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/main/start/vim-fugitive"]
	path = pack/main/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/main/start/vim-highlightedyank"]
	path = pack/main/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule "pack/main/start/vim-commentary"]
	path = pack/main/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/main/start/CommandlineComplete.vim"]
	path = pack/main/start/CommandlineComplete.vim
	url = https://github.com/j5shi/CommandlineComplete.vim
[submodule "pack/main/opt/tabular"]
	path = pack/main/opt/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/main/opt/vim-fish"]
	path = pack/main/opt/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "pack/main/opt/vim-habanight"]
	path = pack/main/opt/vim-habanight
	url = https://github.com/habamax/vim-habanight
[submodule "pack/main/opt/vim-jsx-pretty"]
	path = pack/main/opt/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule "pack/main/start/vim-dirvish"]
	path = pack/main/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "pack/main/start/vim-hexokinase"]
	path = pack/main/start/vim-hexokinase
	url = https://github.com/RRethy/vim-hexokinase
[submodule "pack/main/start/vim-matchup"]
	path = pack/main/start/vim-matchup
	url = https://github.com/andymass/vim-matchup
[submodule "pack/main/start/vim-lsp"]
	path = pack/main/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/main/start/asyncomplete.vim"]
	path = pack/main/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/main/start/asyncomplete-lsp.vim"]
	path = pack/main/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "pack/main/opt/vim-backslash"]
	path = pack/main/opt/vim-backslash
	url = https://github.com/lambdalisue/vim-backslash
